body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.error-container {
  color: rgb(202, 78, 78);
  margin: auto auto;
  text-align: center;
  height: 0px;
  opacity: 0;
  transition: all 0.5s ease;
}

.display {
  /* display: block; */
  position: relative;
  transform: translate(0px, 10px);
  opacity: 1;
}

.no-display {
  display: none;
}
